* {
	font-family: roboto, arial, sans-serif;
}

header {
	background-color: #414042;
	width: 100%;
	height: 100px;
	border-bottom: 2px solid #F5D114;
}

header .container {
	width: 960px;
	margin: 0 auto;
}

#logo {
	float: left;
	font-size: 45px;
	color: white;
}

#setting_btn {
	float: right;
	margin-top: -10px;
}

#setting_btn ul li {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

#setting_btn ul li a {
	text-decoration: none;
	font-size: 12px;
	color: #AAAAA6;
}

#setting_btn ul li a:hover {
	color: #E6E7E8;
}

header #search {
	clear: both;
	float: right;
	width: 800px;
	height: 50px;
	margin-top: -4px;
	background-color: #6D6E71;
}

#search span {
	margin-top: 15px;
	left: 5%;
	float: left;
	padding: 0 10px;
	color: #E6E7E8;
	font-size: 18px;
}

#search select {
	margin-top: 13px;
	float: left;
}

#search #search_field {
	margin-top: 13px;
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

#search #search_field input {
	width: 400px;
	height: 20px
}

#search #search_btn {
	margin-top: 13px;
	float: left;
	padding-left: 10px;
	height: 20px;
}

#search #search_btn input {
	position: absolute;
	width: 70px;
}

select {
	background-color: #ECECEC;
	border: 1px solid #F5D114;
	height: 25px;
}

select:hover {
	background-color: #FFF8D2;
	border: 1px solid #F5D114;
}

select:active {
	background-color: white;
	border: 1px solid #F5D114;
}
/* Navigation Start */

nav {
	background-color: #6D6E71;
	width: 100%;
	height: 50px;
}

nav .container {
	width: 960px;
	margin: 0 auto;
	padding: 14px;
}

nav ul {
	margin: 0 auto;
}

nav ul li {
	list-style: none;
	display: inline;
	padding-left: 60px;
}

nav ul li a {
	text-decoration: none;
	font-family: roboto light;
	font-size: 18px;
	color: #FDFDFD;
}

nav ul li a:hover {
	color: #F5D114;
}

nav ul li.active {
	background-color: white;
	width: 100%;
	height: 25px;
}

nav ul .active a {
	color: #414042;
}
/* Navigation End */
/* Main Start */

main {
	background-color: white;
	width: 100%;
	height: auto;
}

main .container {
	width: 960px;
	margin: 0 auto;
}

article {
	width: 70%;
	height: auto;
	background-color: tomato; /* delete */
}
/* Status Bar Start */

main article #status {
	width: 100%;
	height: 100px;
	padding: 25px;
	background-color: white;
}

main #status #user_pic {
	float: left;
	width: 100px;
	height: 100px;
	background-color: bisque;
	border: 2px solid grey;
}

main article #status h4 {
	width: 80%;
	font-size: 1.5em;
	color: #F37037;
	float: left;
	padding-left: 20px;
	margin-top: -5px;
}

main article #status h6 {
	font-family: roboto light;
	font-size: 0.75em;
	color: #6D6E71;
}

main article #status #comment_area {
	float: left;
	width: 80%;
	height: 61px;
	margin-top: -27px;
	margin-left: 20px;
	background-color: #F0F1F3;
	padding: 5px;
	padding-top: 9px;
}

main article #status #comment_area input[type="text"] {
	width: 78%;
	height: 25px;
	border: 1px solid rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.6);
	padding-left: 10px;
}

main article #status #comment_area input[type="button"] {
	width: 100px;
	height: 31px;
	color: white;
	background-color: #F37037;
	border: 1px solid #D74B0E;
}

main article #status #comment_area input[type="button"]:hover {
	background-color: #D74B0E;
	border: 1px solid #F37037;
}

main article #status #comment_area h6 {
	clear: both;
	margin: 0;
	float: right;
	padding-top: 10px;
	padding-right: 2px;
}

/* Status Bar End */
